In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378656,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17,50000.0,2014-09-17 02:35:30,25.0,canceled,1,US,25.0,25.0,50000.00
378657,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,1500.0,2011-06-22 03:35:14,155.0,failed,5,US,155.0,155.0,1500.00
378658,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,15000.0,2010-07-01 19:40:30,20.0,failed,1,US,20.0,20.0,15000.00
378659,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,15000.0,2016-01-13 18:13:53,200.0,failed,6,US,200.0,200.0,15000.00
378660,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2000.0,2011-07-19 09:07:47,524.0,failed,17,US,524.0,524.0,2000.00

In [4]:
df.drop(columns=['ID','name','category','currency','pledged','backers','usd pledged','usd_pledged_real','goal'], inplace=True)

In [5]:

df = df.drop(df.query('''country == 'N,0"' ''').index, axis=0).reset_index(drop=True)

In [6]:
df['country'].value_counts()

US    292627
GB     33672
CA     14756
AU      7839
DE      4171
FR      2939
IT      2878
NL      2868
ES      2276
SE      1757
MX      1752
NZ      1447
DK      1113
IE       811
CH       761
NO       708
HK       618
BE       617
AT       597
SG       555
LU        62
JP        40
Name: country, dtype: int64

In [7]:
df['country'] = df['country'].map({'US':1, 
                                    'GB':2,
                                    'CA':3,
                                    'AU':4,
                                    'DE':5,
                                    'FR':6,
                                    'NL':7,
                                    'IT':8,
                                    'ES':9,
                                    'SE':10,
                                    'MX':11,
                                    'NZ':12,
                                    'DK':13,
                                    'IE':14, 
                                    'CH':15,
                                    'NO':16,
                                    'BE':17,
                                    'AT':18,
                                    'HK':19,
                                    'SG':20,
                                    'LU':21,
                                    'JP':22
                                        })

In [8]:
df

,main_category,deadline,launched,state,country,usd_goal_real
0,Publishing,2015-10-09,2015-08-11 12:12:28,failed,2,1533.95
1,Film & Video,2017-11-01,2017-09-02 04:43:57,failed,1,30000.00
2,Film & Video,2013-02-26,2013-01-12 00:20:50,failed,1,45000.00
3,Music,2012-04-16,2012-03-17 03:24:11,failed,1,5000.00
4,Film & Video,2015-08-29,2015-07-04 08:35:03,canceled,1,19500.00
...,...,...,...,...,...,...
374859,Film & Video,2014-10-17,2014-09-17 02:35:30,canceled,1,50000.00
374860,Film & Video,2011-07-19,2011-06-22 03:35:14,failed,1,1500.00
374861,Film & Video,2010-08-16,2010-07-01 19:40:30,failed,1,15000.00
374862,Technology,2016-02-13,2016-01-13 18:13:53,failed,1,15000.00
374863,Art,2011-08-16,2011-07-19 09:07:47,failed,1,2000.00

In [9]:
df['main_category'] = df['main_category'].map({'Publishing':1, 
                                                'Film & Video':2,
                                                'Music':3,
                                                'Food':4,
                                                'Crafts':5,
                                                'Games':6,
                                                'Design':7,
                                                'Comics':8,
                                                'Fashion':9,
                                                'Theater':10,
                                                'Art':11,
                                                'Photography':12,
                                                'Technology':13,
                                                'Dance':14,
                                                'Journalism':15
                                                })

In [10]:
df

,main_category,deadline,launched,state,country,usd_goal_real
0,1,2015-10-09,2015-08-11 12:12:28,failed,2,1533.95
1,2,2017-11-01,2017-09-02 04:43:57,failed,1,30000.00
2,2,2013-02-26,2013-01-12 00:20:50,failed,1,45000.00
3,3,2012-04-16,2012-03-17 03:24:11,failed,1,5000.00
4,2,2015-08-29,2015-07-04 08:35:03,canceled,1,19500.00
...,...,...,...,...,...,...
374859,2,2014-10-17,2014-09-17 02:35:30,canceled,1,50000.00
374860,2,2011-07-19,2011-06-22 03:35:14,failed,1,1500.00
374861,2,2010-08-16,2010-07-01 19:40:30,failed,1,15000.00
374862,13,2016-02-13,2016-01-13 18:13:53,failed,1,15000.00
374863,11,2011-08-16,2011-07-19 09:07:47,failed,1,2000.00

In [11]:
df = df.drop(df.query("state != 'failed' and state != 'successful'").index, axis=0).reset_index(drop=True)

In [12]:
df

,main_category,deadline,launched,state,country,usd_goal_real
0,1,2015-10-09,2015-08-11 12:12:28,failed,2,1533.95
1,2,2017-11-01,2017-09-02 04:43:57,failed,1,30000.00
2,2,2013-02-26,2013-01-12 00:20:50,failed,1,45000.00
3,3,2012-04-16,2012-03-17 03:24:11,failed,1,5000.00
4,4,2016-04-01,2016-02-26 13:38:27,successful,1,50000.00
...,...,...,...,...,...,...
331460,4,2017-04-19,2017-03-20 22:08:22,failed,1,6500.00
331461,2,2011-07-19,2011-06-22 03:35:14,failed,1,1500.00
331462,2,2010-08-16,2010-07-01 19:40:30,failed,1,15000.00
331463,13,2016-02-13,2016-01-13 18:13:53,failed,1,15000.00
331464,11,2011-08-16,2011-07-19 09:07:47,failed,1,2000.00

In [13]:
df['state'] = df['state'].map({'successful':1, 'failed':0})

In [14]:
df

,main_category,deadline,launched,state,country,usd_goal_real
0,1,2015-10-09,2015-08-11 12:12:28,0,2,1533.95
1,2,2017-11-01,2017-09-02 04:43:57,0,1,30000.00
2,2,2013-02-26,2013-01-12 00:20:50,0,1,45000.00
3,3,2012-04-16,2012-03-17 03:24:11,0,1,5000.00
4,4,2016-04-01,2016-02-26 13:38:27,1,1,50000.00
...,...,...,...,...,...,...
331460,4,2017-04-19,2017-03-20 22:08:22,0,1,6500.00
331461,2,2011-07-19,2011-06-22 03:35:14,0,1,1500.00
331462,2,2010-08-16,2010-07-01 19:40:30,0,1,15000.00
331463,13,2016-02-13,2016-01-13 18:13:53,0,1,15000.00
331464,11,2011-08-16,2011-07-19 09:07:47,0,1,2000.00

In [15]:
df['deadline'][0][:4]
df['deadline'][0][5:7]
df['deadline'][0][8:]

'09'

In [16]:
df[['deadline','launched']] = df[['deadline','launched']].apply(pd.to_datetime)
df['days'] = (df['deadline'] - df['launched']).dt.days

In [17]:
df

,main_category,deadline,launched,state,country,usd_goal_real,days
0,1,2015-10-09,2015-08-11 12:12:28,0,2,1533.95,58
1,2,2017-11-01,2017-09-02 04:43:57,0,1,30000.00,59
2,2,2013-02-26,2013-01-12 00:20:50,0,1,45000.00,44
3,3,2012-04-16,2012-03-17 03:24:11,0,1,5000.00,29
4,4,2016-04-01,2016-02-26 13:38:27,1,1,50000.00,34
...,...,...,...,...,...,...,...
331460,4,2017-04-19,2017-03-20 22:08:22,0,1,6500.00,29
331461,2,2011-07-19,2011-06-22 03:35:14,0,1,1500.00,26
331462,2,2010-08-16,2010-07-01 19:40:30,0,1,15000.00,45
331463,13,2016-02-13,2016-01-13 18:13:53,0,1,15000.00,30
331464,11,2011-08-16,2011-07-19 09:07:47,0,1,2000.00,27

In [18]:
df.drop(columns=['deadline','launched'],inplace=True)

In [19]:
X = df.drop(columns='state')
y = df['state']

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.2, random_state = 1)

In [31]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV


ks = [5, 10, 20, 25, 30,35]
param_grid = [{'n_neighbors': ks}]
knn = KNeighborsClassifier(n_neighbors=35)
knn_grid = GridSearchCV(knn, param_grid, cv=8, scoring='accuracy', verbose=1, n_jobs=-1)
knn_grid.fit(X_train, y_train)

Fitting 8 folds for each of 6 candidates, totalling 48 fits

KeyboardInterrupt:

In [22]:
knn_grid.best_score_

0.6364887628149811

In [23]:
knn_grid.predict(X_test)

array([0, 0, 1, ..., 1, 1, 0], dtype=int64)

In [24]:
def predict(main_category, country, usd_goal, days):
    df = pd.DataFrame(
        columns=['main_category', 'country', 'usd_goal', 'days'],
        data=[[main_category, country, usd_goal, days,]]
    )

    y_pred = knn_grid.predict(df)[0]
    if y_pred == 0:
        return "You won't make your goal"
    else:
        return 'You might make your goal!'

In [25]:
predict(12,1,1000,15)

'You might make your goal!'

In [26]:
import joblib
joblib.dump(knn_grid, 'model2.joblib')

['model2.joblib']

In [27]:
import joblib
import sklearn


print(f'joblib=={joblib.__version__}')
print(f'scikit-learn=={sklearn.__version__}')

joblib==1.1.0
scikit-learn==0.24.2

In [28]:
from xgboost import XGBClassifier

xg_classifier = XGBClassifier(n_estimators=50, random_state=42)

xg_classifier.fit(X_train,y_train)

C:\Users\Bigpa\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[12:52:48] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=50, n_jobs=16,
              num_parallel_tree=1, predictor='auto', random_state=42,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [30]:
xg_classifier.score(X_train,y_train)

0.6718771212646886